exomusica.yourdomain.tld {
	route /api/* {
		reverse_proxy backend:3001
	}
	route /ws/* {
		reverse_proxy backend:3001
	}
	route /uploads/* {
		reverse_proxy backend:3001
	}
	route {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
